<!-- <p>
  dashboard works!
</p> -->

<!-- Top navigation -->
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/dashboard">
    AppointEx
    <span class="dasboard-text">Dashboard</span>
  </a>
  <!-- <li class="nav-item">
    <a class="nav-link" (click)="authService.SignOut()">
      <i class="fas fa-sign-out-alt"></i>Log out
    </a>
  </li> -->
</nav>

<!-- Sidebar navigation -->
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <!-- <li class="nav-item">
            <a class="nav-link active">
              <i class="fas fa-user"></i>User Profile
            </a>
          </li> -->

          <li class="nav-item">
            <a class="nav-link" routerLink="/create-appointment" routerLinkActive="active">
              <i class="fas fa-plus"></i>Create Appointment
            </a>
          </li>

          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/view-appointments" routerLinkActive="active">
              <i class="fas fa-list-ul"></i>View Appointments
            </a>
          </li> -->

          <!-- Calling SignOut() Api from AuthService -->
          <li class="nav-item">
            <a class="nav-link" (click)="authService.SignOut()">
              <i class="fas fa-sign-out-alt"></i>Log out
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">
        <!--
        <div class="pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">User Profile</h1>
        </div>
        Show user data when logged in
        <div class="row" *ngIf="authService.userData as user">
          <div class="col-md-12">
            <div class="media">
              <img class="align-self-start mr-5 img-thumbnail rounded-circle" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
                alt="{{user.displayName}}">
              <div class="media-body">
                <h1>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
                <p>User ID: <strong>{{user.uid}}</strong></p>
                <p>Email: <strong>{{user.email}}</strong></p>
                <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
              </div>
            </div>
          </div>
          hello [UserName]
        </div> -->
        
        <!-- style="background-color:lavender;" -->
        <div class="container-fluid" >
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <!-- Hey {{user.displayName}} AppointEx -->
            <h1 class="h2">Your Upcoming Appointments</h1>
            <!-- It won't show if there is no student data -->
            <!-- <a routerLink="/create-appointment" class="btn btn-success" *ngIf="hideWhenNoAppointment">
              <i class="fas fa-plus custom-fa-plus"></i>
              Add Appointment
            </a> -->
          </div>

          <div class="pricing-header mx-auto">

            <!-- Preloader shows before the data loads-->
            <div class="no-data text-center" *ngIf="preLoader">
              <img src="assets/preloader.gif" class="preloader-icon" alt="No Appointment">
            </div>

            <!-- No data shows when their is no student data available -->
            <div class="no-data text-center" *ngIf="noData">
              <img src="assets/no-student.svg" class="nodata-msg" alt="No Appointent">
              <p class="nodata-msg">No appointments added yet!</p>
              <a routerLink="/create-appointment" class="btn btn-success">
                <i class="fas fa-plus custom-fa-plus"></i>
                Add Appointent
              </a>
            </div>

            <!-- Showing students data -->
            <div class="table-responsive" *ngIf="hideWhenNoAppointment">
              <table class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg">
                <thead>
                  <tr>
                    <th scope="col">Student name</th>
                    <th scope="col">Student Id</th>
                    <!-- <th scope="col">Email</th>
                    <th scope="col">Mobile number</th> -->
                    <th scope="col">Lecturer</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Type</th>
                    <th class="text-center" scope="col">Edit</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- *ngFor loop iterates over Student array and fetch the student's data -->
                  <!-- paginate pipe will add pagination in student's list, it won't show if items are less then 7 -->
                  <tr *ngFor="let appointment of Appointment | paginate: { itemsPerPage: 7, currentPage: p }; let i = index;">
                    <!-- <th scope="row">{{appointment.$key}}</th> -->
                    <td>{{appointment.name}}</td>
                    <td>{{appointment.idNumber}}</td>
                    <!-- <td>{{appointment.email}}</td>
                    <td>{{appointment.mobileNumber}}</td> -->
                    <td>{{appointment.lecturer}}</td>
                    <td>{{appointment.date}}</td>
                    <td>{{appointment.time}}</td>
                    <td>{{appointment.type}}</td>
                    <td class="text-center action-block">
                      <!-- routerLink="/edit-student/{{student.$key}}" is refered to { path: 'edit-student/:id', component: EditStudentComponent } in app-routing.moudles.ts -->
                      <i class="far fa-edit" routerLink="/edit-appointment/{{appointment.$key}}"></i>
                      <i class="far fa-trash-alt" (click)="deleteAppointment(appointment)"></i></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- Pagination -->
            <pagination-controls (pageChange)="p = $event" autoHide="true" responsive="true"></pagination-controls>
          </div>
        </div> 
      </div>
    </main>
  </div>
</div>