<!-- <p>
  sign-in works!
</p> -->
<!doctype html>
<html lang="en">
<head>
  
</head>
<body>
<div class="displayTable">
  <div class="displayTableCell">
      <!-- <div class="js-tilt" data-tilt>
          <img src="../../../assets/img-01.png" alt="LoginPic">
      </div> -->
    <!-- <span data-tilt>
        <img src="../../../assets/img-01.png" alt="LoginPic">
    </span> -->

    <!-- <div data-tilt><img src="../../../assets/img-01.png" alt="LoginPic"></div> Tilt element -->

    <div class="authBlock">
      <h3>Sign In</h3>
      <div class="formGroup">
        <input type="text" class="formControl" placeholder="Username" #userName required>
      </div>

      <div class="formGroup">
        <input type="password" class="formControl" placeholder="Password" #userPassword required>
      </div>

      <!-- Calling SignIn Api from AuthService -->
      <div class="formGroup">
        <input type="button" class="btn btnPrimary" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)">
      </div>

      <div class="formGroup">
        <span class="or"><span class="orInner">Or</span></span>
      </div>

      <!-- Calling GoogleAuth Api from AuthService -->
      <div class="formGroup">
        <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
          <i class="fab fa-google-plus-g"></i>
          Log in with Google
        </button>
      </div>

      <div class="forgotPassword">
        <span routerLink="/forgot-password">Forgot Password?</span>
      </div>
    </div>

    <div class="redirectToLogin">
      <span>Don't have an account?<span class="redirect" routerLink="/register-user"> Sign Up</span></span>
    </div>
  </div>
</div>

<script src="../../../../node_modules/jquery/dist/jquery.js" ></script> <!-- Load jQuery first -->
<script src="../../../../node_modules/tilt.js/dest/tilt.jquery.min.js"></script> <!-- Load Tilt.js library -->

</body>
</html>